.btnContainer {
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ? CONTAINED BTN
.contained-btn {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  border: 0px;
  outline: none;
  width: 100%;
  letter-spacing: 1px;
  font-family: var(--font);
  &:hover {
    box-shadow: 0px 0px 10px var(--primary);
    background-color: color-mix(in srgb, var(--primary) 90%, var(--white));
  }
  &:active {
    background-color: color-mix(in srgb, var(--primary) 80%, var(--black));
    width: calc(100% - 10px);
  }
}

// ? OUTLINED BTN
.outlined-btn {
  background-color: transparent;
  color: var(--primary);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  border: 1px solid color-mix(in srgb, var(--primary) 90%, var(--white));
  outline: none;
  width: 100%;
  letter-spacing: 1px;
  font-family: var(--font);
  &:hover {
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 10px var(--primary);
  }
  &:active {
    width: calc(100% - 10px);
  }
}

// ? TEXT BTN
.text-btn {
  background-color: transparent;
  color: var(--primary);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  border: 0;
  outline: none;
  width: 100%;
  letter-spacing: 1px;
  font-family: var(--font);
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &:active {
    width: calc(100% - 10px);
  }
}

// ? BTN SIZES
.large-btn {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 700;
}

.medium-btn {
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 600;
}

.small-btn {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
}



// ? MEDIA PHONE

@media screen and (max-width: 500px) {
  .btnContainer {
    max-width: 100%;
  }
}
