.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-item {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
